<div >    
    <div class="row justify-content-center text-center">
        <h3>{{na}} is login successfully</h3>
        <div class="col-5">
            <div class="nav justify-content-center text-primary">
                <a routerLink="list" class="nav-link">List</a>  
                <a routerLink="create" class="nav-link">Create</a>
                <a routerLink="delete" class="nav-link">Delete</a> 
                <a routerLink="update" class="nav-link">Update</a> 
                <a routerLink="/login" class="nav-link">Log Out</a> 
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>